service routing protocols model multi-agent

{% if 'spine' in device_params.hostname %}
   router bgp {{ device_params.ASN_ibgp }}
   bgp listen range {{ device_params.prefix_ovl }} peer-group LEAF_OVERLAY peer-filter {{ device_params.asn_range }}
   neighbor LEAF_OVERLAY peer group
   neighbor LEAF_OVERLAY update-source Loopback0
   neighbor LEAF_OVERLAY ebgp-multihop
   neighbor LEAF_OVERLAY send-community
   neighbor LEAF_OVERLAY peer group
   neighbor LEAF_OVERLAY ebgp-multihop 2

   address-family evpn
     neighbor LEAF_OVERLAY activate

{% elif 'leaf' in device_params.hostname %}
   router bgp {{ device_params.ASN_ebgp }}
   neighbor SPINE_OVERLAY peer group
   neighbor SPINE_OVERLAY remote-as 65000
   neighbor SPINE_OVERLAY update-source Loopback0
   neighbor SPINE_OVERLAY ebgp-multihop {{ device_params.multihop }}
   neighbor SPINE_OVERLAY send-community

   vlan-aware-bundle SERVICES
   rd {{ device_params.int_num['Lo0'].split('/')[0] }}:{{ device_params.RT }}
   route-target both {{ device_params.ASN_ibgp }}:{{ device_params.RT }}
   redistribute learned
   vlan add {{ device_params.vlan }}

   address-family evpn
     neighbor SPINE_OVERLAY activate

{% for neib in device_params.bgp_neighbor_ovl %}
   neighbor {{ neib }} peer group SPINE_OVERLAY

{% endfor %}
{% endif %}
