{% include 'clear_conf.j2' %}

{% include 'base_conf.j2' %}

{% include 'intf_conf.j2' %}

{% include 'ovrl_vxlan.j2' %}

{% include 'undl_ebgp.j2' %}

{% include 'ovrl_ebgp_evpn.j2' %}

{% include 'ovrl_evpn_vlan_base.j2' %}

{% include 'ovrl_evpn_asymm_irb.j2' %}