no router bgp {{ device_params.ASN_ibgp }}
no router bgp {{ device_params.ASN_ebgp }}

route-map REDISTRIBUTE_CONNECTED permit 10
   match ip address prefix-list REDISTRIBUTE_CONNECTED

{% if 'spine' in device_params.hostname %}
   ip prefix-list REDISTRIBUTE_CONNECTED seq 10 permit 10.8.0.0/24 le 32
   peer-filter AS_FILTER
   10 match as-range {{ device_params.asn_range }} result accept

   router bgp {{ device_params.ASN_ibgp }}
   router-id {{ device_params.int_num['Lo0'].split('/')[0] }}
   maximum-paths 128
   timers bgp 1 3
   bgp listen range {{ device_params.prefix }} peer-group LEAF_UNDERLAY peer-filter {{ device_params.asn_range }}
   neighbor LEAF_UNDERLAY peer group
   neighbor LEAF_UNDERLAY bfd
   neighbor LEAF_UNDERLAY password 0 cisco
   redistribute connected route-map REDISTRIBUTE_CONNECTED

{% elif 'leaf' in device_params.hostname %}
   ip prefix-list REDISTRIBUTE_CONNECTED seq 10 permit 10.8.0.0/24 le 32
   ip prefix-list REDISTRIBUTE_CONNECTED seq 20 permit 10.9.0.0/24 le 32

   router bgp {{ device_params.ASN_ebgp }}
   router-id {{ device_params.int_num['Lo0'].split('/')[0] }}
   maximum-paths 128
   timers bgp 1 3
   maximum-paths 128
   timers bgp 1 3
   neighbor SPINE_UNDERLAY peer group
   neighbor SPINE_UNDERLAY remote-as {{ device_params.ASN_ibgp }}
   neighbor SPINE_UNDERLAY bfd
   neighbor SPINE_UNDERLAY password 0 cisco
   redistribute connected route-map REDISTRIBUTE_CONNECTED

{% for neib in device_params.bgp_neighbor %}
   neighbor {{ neib }} peer group SPINE_UNDERLAY

{% endfor %}
{% endif %}
