{% for intf, ip in device_params.int_num.items() %}
default interface {{ intf }}
interface {{ intf }}
{% if 'Eth' in intf %}
no switchport
mtu 9216
medium p2p
ip address {{ ip }}
no shutdown
{% elif 'Lo' in intf %}
ip address {{ ip }}
no shutdown
{% endif %}
{% endfor %}