no router ospf UNDERLAY
no router bgp {{ device_params.ASN_ibgp }}
no router bgp {{ device_params.ASN_ebgp }}
key chain ISIS
key 0
key-string cisco

router isis UNDERLAY
net {{ device_params.int_num['Lo0'].split('/')[0] | isis_net }}
is-type level-2
max-lsp-lifetime 65535
set-overload-bit on-startup 180
log-adjacency-changes
authentication-type md5 level-2
authentication key-chain ISIS level-2

{% for intf in device_params.int_num.keys() %}
interface {{ intf }}
{% if 'Eth' in intf %}
no ip redirects
isis authentication-type md5 level-2
isis authentication key-chain ISIS level-2
ip router isis UNDERLAY
isis network point-to-point
no isis hello-padding always
{% elif 'Lo' in intf %}
ip router isis UNDERLAY
{% endif %}
{% endfor %}
